@model List<StageProject_RaceCore.Models.Cyclist>

@{
    ViewData["Title"] = "Cyclists";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Cyclists</h2>
<form method="get" class="mb-3">
    <input type="text" name="search"
           value="@Context.Request.Query["search"]"
           placeholder="Zoek op naam of team" />

    
    <select name="active" class="form-select">
        <option value="">Alle</option>
        <option value="true" selected="@(Context.Request.Query["active"] == "true")">Actief</option>
        <option value="false" selected="@(Context.Request.Query["active"] == "false")">Niet actief</option>
    </select>

    <button type="submit">Zoeken</button>

    <p>Aantal cyclists: @ViewBag.CyclistCount</p>

</form>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Team ID</th>
            <th>Is Active</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cyclist in Model)
        {
            <tr>
                <td>@cyclist.FirstName</td>
                <td>@cyclist.LastName</td>
                <td>@cyclist.Team?.Name</td>
                <td>@cyclist.IsActive</td>
            </tr>
        }
    </tbody>
</table>