@model List<StageProject_RaceCore.Models.Stage>
@using StageProject_RaceCore.Models

@{
    ViewData["Title"] = "Ritten";
    var races = ViewBag.Races as List<Race>;
    int selectedRaceId = ViewBag.SelectedRaceId;
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<link rel="stylesheet" href="~/css/Stage.css" />

<h1>Ritten</h1>

<div class="race-buttons">
    @foreach (var race in races)
    {
        <a asp-controller="Stage"
           asp-action="Index"
           asp-route-raceId="@race.Id"
           class="race-btn @(race.Id == selectedRaceId ? "active" : "")">
            @race.Name
        </a>
    }
</div>

<div class="stages-list">
    @if (Model.Any())
    {
        foreach (var stage in Model)
        {
            <div class="stage-card">
                <h3>Rit @stage.StageNumber: @stage.Name</h3>

                @if (stage.Date != null)
                {
                    <p>@stage.Date.Value.ToString("dd/MM/yyyy")</p>
                }
            </div>
        }
    }
    else
    {
        <p>Geen ritten gevonden voor deze wedstrijd.</p>
    }
</div>
